* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #130c08;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
